<?xml version="1.0"?>
<config>
  <modules>
    <Satispay_Satispay>
      <version>1.4.3</version>
    </Satispay_Satispay>
  </modules>
  <global>
    <helpers>
      <satispay>
        <class>Satispay_Satispay_Helper</class>
      </satispay>
    </helpers>
    <models>
      <satispay>
        <class>Satispay_Satispay_Model</class>
      </satispay>
    </models>
  </global>
  <frontend>
    <routers>
      <satispay>
        <use>standard</use>
        <args>
          <module>Satispay_Satispay</module>
          <frontName>satispay</frontName>
        </args>
      </satispay>
    </routers>
    <translate>
      <modules>
        <Satispay_Satispay>
          <files>
            <default>Satispay_Satispay.csv</default>
          </files>
        </Satispay_Satispay>
      </modules>
    </translate>
  </frontend>
  <default>
    <payment>
      <satispay>
        <title>Satispay</title>
        <!-- <order_status>pending_payment</order_status> -->
        <!-- <payment_action>sale</payment_action> -->
        <model>satispay/payment</model>
        <active>0</active>
        <staging>0</staging>
        <sort_order>1</sort_order>
      </satispay>
    </payment>
  </default>
  <crontab>
    <jobs>
      <satispay_check_pendings>
        <schedule>
          <cron_expr>* * * * *</cron_expr>
        </schedule>
        <run>
          <model>satispay/observer::checkPendings</model>
        </run>
      </satispay_check_pendings>
    </jobs>
  </crontab>
</config>
